.story {
    min-height: 402px;
    padding: 71px 0 70px 0;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_img {
        margin-left: 100px;
    }

  

    &_subtitle {
        margin-top: 28px;
        color: #413d4b;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.42px
    }

    &_descr {
        margin-top: 33px;
        color: #413d4b;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.42px
    }
}