.title {
    color: #413d4b;
        font-family: "Playfair Display";
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1.1px;


    &_expertise {
        text-align: center;
    }
}