.watch {
    padding-top: 202px;
    background: url(../../img/bg/put-bg.png) center (center / cover) no-repeat;
    min-height: 348px;

    &_img-play {
        img {
            display: block;
            margin: 0 auto;
        }
       
    }

    &_descr {
        margin-top: 34px;
        color: #ffffff;
        text-align: center;
        text-decoration: uppercase;
        font-family: "Roboto - Black";
        font-size: 16px;
        font-weight: 400;
    }
}